/* PC */
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


}

.title {
  background-color: #373B7A;
  width: 98%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 6vh;
}

.title-image {
  width: 48vh;
  height: 8vh;
}

.headerSeparateLine {
  background-color: #585858;
  width: 98%;
  height: 1.5vh;
}

.menuContainer {
  width: 98%;
  height: 40px;
  display: flex;
}

.menuItem {
  width: 100px;
  height: 40px;
  /* width: 10vw;
  height: 5vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: #585858;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Noto Sans JP', Impact, Meiryo, 'ヒラギノ角ゴ', Lato, sans-serif;
}

.menu-icon {
  display: none;
}

.side-menu {
  display: none;
}


/* @media (max-width:1024px) {
タブレット
} */

/* スマホ */
@media (max-width:600px) {
  .title {
    margin-top: 10vh;
    height: 15vh;
  }

  .title-image {
    width: 36vh;
    height: 6vh;
  }

  .menu-icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 5vh;
    left: 3vh;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .bar {
    width: 100%;
    height: 4px;
    background-color: #585858;
  }
  
  .side-menu {
    display: block;

    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #585858;
    transition: 0.3s;

    z-index: 10;
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .side-menu ul li {
    padding: 20px;
  }
  
  .side-menu ul li a {
    color: #E9E9E9;
    text-decoration: none;
  }

  .side-menu.open {
    left: 0px;
  }

  .side-menu .close-button {
    position: absolute;
    top: 0.1vh; 
    right: 5vh; 
    font-size: 40px; 
    color: #E9E9E9;
  }

  .menuContainer {
    display: none;
  }
    
}

