.heading {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.emphasis_mark {
    width: 30px;
}

.heading-text {
    /* 下揃え */
    align-self: flex-end;

    font-size: 36px;
    text-align: left;
}

